body {
    font-size: 15px;
}

/* #container {
    font-size: 20px;
} */

#container>div {
    margin-bottom: 10px;
    background-color: indianred;
}

#pixels {
    width: 400px;
}

#em {
    width: 20em;
}

#percent {
    width: 50%;
}

#vh {
    width: 60vh;
}