.flex-item {
    background-color: cadetblue;
    font-family: "lato", sans-serif;
    color: darkblue;
    border: 1px solid brown;
    padding: 10px;
    margin: 5px;
    flex-basis: 30%;
}

.flex-item:nth-last-of-type(odd) {
    background-color: darkgoldenrod;
}

.container {
    display: flex;
    border: 2px dashed green;
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
}