* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

header {
    /* max-width: 1600px; */
    margin: 0 auto;
    height: 65vh;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    color: #007bff;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    border-bottom-width: 10px solid;
}

header p {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    color: #333;
}

button {
    display: block;
    width: 200px;
    margin: 50px auto 50px;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #007bff;
    transition: .5s;
    cursor: pointer;
}

button a {
    text-decoration: none;
    text-transform: uppercase;
}

button:hover {
    background-color: #007bff;
}

button:hover a {
    color: aliceblue;
}

span {
    color: blue;
}

nav {
    background-color: #007bff;
}

nav ul {
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    width: 200px;
}

nav ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: aliceblue;
    transition: .3s;
    text-transform: uppercase;
}

nav a:hover {
    font-size: 21px;
}

#about-me {
    color: #777;
}

#about-me h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
    line-height: 80px;
}

#about-me div {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;

}

#about-me p {
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    max-width: 800px;
}

#portfolio {
    background-color: #f2f1ed;
}

#portfolio div {
    display: flex;
    flex-basis: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 15vw 100px;
}

#portfolio div img {
    width: 300px;
}