.box {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#colors {
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    background-color: olive;
}

#colors:hover {
    background-color: #2d4;
}

.box-width {
    background-color: powderblue;
    transition: width 2s;
}

.box-width:hover {
    width: 300px;
}

.box-height {
    background-color: royalblue;
    transition: height 1s;
}

.box-height:hover {
    height: 300px;
}

.box-width-height {
    background-color: springgreen;
    transition: height 2s, width 2s, background-color 2s;
}

.box-width-height:hover {
    height: 450px;
    width: 400px;
    background-color: violet;
}