#background-img {
    background-color: chartreuse;
    background-image: url(../img/bgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
}