.box {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    background-color: violet;
}

div>div:nth-of-type(1) {
    background-color: teal;
    transition: width 2s;
}

div>div:nth-of-type(1):hover {
    width: 300px;
}

div>div:nth-of-type(2) {
    background-color: blue;
    transition: height 1.5s;
}

div>div:nth-of-type(2):hover {
    height: 300px;
}

div>div:nth-last-child(1) {
    background-color: chartreuse;
    transition: height 2s, width 2s;
}

div>div:nth-last-child(1):hover {
    height: 300px;
    width: 300px;
}