.flex-item {
    background-color: cadetblue;
    font-family: "lato", sans-serif;
    color: darkblue;
    border: 1px solid brown;
    padding: 10px;
    margin: 5px;
    flex-basis: 28%;
    max-width: 220px;
}

.flex-item:nth-last-of-type(odd) {
    background-color: darkgoldenrod;
}

.container {
    display: flex;
    border: 2px dashed green;
    flex-wrap: wrap;
    height: 700px;
}

.ordered-item {
    /* align-self: flex-start; */
    align-self: flex-end;
    /* align-self: stretch; */
    /* align-self: center; */
    /* align-self: baseline; */
}