* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
span {
    text-transform: uppercase;
    color: white;
    font-family: verdana, arial, sans-serif;
    line-height: 80px;
}

span {
    display: block;
    font-size: 1.5em;
}

header {
    background-image: url(../img/man-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 4vw;
}

@media (min-width:992px) and (max-width:1170px) {
    header {
        background-image: url(../img/man-2.jpg);
        height: 70vh;
        justify-content: flex-end;
        align-items: baseline;
    }

    h1 {
        padding: 50px;
        font-size: 1.1em;
        line-height: 30px;
    }

}

@media (max-width:991px) {
    header {
        justify-content: center;
        position: relative;
        height: 50vh;

    }

    h1 {
        position: absolute;
        top: 50vh;
        padding: 50px;
        font-size: 1.1em;
        line-height: 15px;
        text-align: center;
    }

    h1,
    span {
        color: black;
    }
}